.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ade036;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

#texto1 {font-size: 25px; color:white; font-family: Arial,
Helvetica, sans-serif; background-color: rgb(43, 150, 221);}

#texto {font-size: 16px; color: rgb(110, 110, 110); font-family: Arial,
Helvetica, sans-serif;}

#divStyle {background-color: aquamarine;}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
